# Below field indicates where the HTML reports will be generated 
# Example: /var/www/dods-match-stats/html
DMS_OUTPUT_DIR=/var/www/dods-match-stats/html

# Complete the field below if you want to integrate with Discord or Invision Power Board. 
# Example: www.yourdomain.com/dods-match-stats or 85.6.25.74/stats 
DMS_EXTERNAL_URL=

# Complete the fields below to enable integration with Discord
DMS_DISCORD_ENABLED=false
DMS_DISCORD_TOKEN=
DMS_DISCORD_CHANNEL_ID=

# Complete the fields below to enable integration with Invision Power Board forum
DMS_IPB_ENABLED=false
DMS_IPB_API_URL=
DMS_IPB_API_KEY=
DMS_IPB_FORUM_ID=
DMS_IPB_AUTHOR_ID=
DMS_IPB_TOPIC_SUFFIX=
DMS_IPB_POST_PREFIX=
DMS_IPB_LINK_TEXT=