[Unit]
Description=dods-match-stats
After=network.target
StartLimitInterval=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/bin/bash {$DMS_HOME}/scripts/dods-match-stats.sh dms-instance-1
ExecStop=/bin/kill `/bin/ps aux | /bin/grep 'python3 $DMS_HOME/__main__.py -t $DMS_GAME_SERVER_IP -p $DMS_PORT -l $DMS_HOME/logs -n $1 -o $DMS_HTML_OUTPUT -d $DMS_DB_URL -q $DMS_DB_PORT -u $DMS_DB_USR -w $DMS_DB_PW -s $DMS_DB_SCHEMA' | /bin/grep -v grep | /usr/bin/awk '{ print $2 }'`

[Install]
WantedBy=multi-user.target